<div id="dialogS" title="修改暱稱" style="display: none;">
    <div class="mry-25">
        <p>輸入新的暱稱</p>
        <input type="text" id="changeNickName" ref="changeNickName" name="changeNickName" @click="updateNickname">
    </div>
</div>

