<div id="dialog" title="刪除文章" style="display: none;">
        <p class="mry-25" id="msg">是否刪除文章?</p>
        <!-- <input class="btn btnCheck btn-outline-danger" type="submit" value="確認">
        <input class="btn btnCheck btn-outline-secondary" type="submit" value="取消"> -->
</div>

