  <!-- <div class="dataContent badge" id="travelInfo">
                        <div class="row">
                            <div class="col-8 mry-25 p-0 ">
                                <div class="row mrx-25 p-0 mry-10">
                                    <div class="col-1 p-0 text-right"><img class="rightIcon" src="/images/flag-r.svg"
                                            alt=""></div>
                                    <div class="col-10 scheTitle mrx-10 p-0 textOver  text-left">{{travelName}}</div>
                                </div>
                                <div class="row mrx-25 p-0 mry-10">
                                    <div class="col-1 p-0 text-right"><img class="rightIcon" src="/images/time-r.svg"
                                            alt=""></div>
                                    <div class="col-10 scheTitle mrx-10  p-0 text-left textOver">{{update_time}}</div>
                                </div>
                                <div class="row mrx-25 p-0 mry-10">
                                    <div class="col-1 p-0 text-right"><img class="rightIcon" src="/images/keep-r.svg"
                                            alt=""></div>
                                    <div class="col-10 scheTitle mrx-10 p-0 text-left textOver">{{travelPoint}}</div>
                                </div>
                            </div>

                            <div class="col-4 p-0">
                                <div class="text-right mrx-25"><img class="rightIcon" src="/images/delete-r.svg" alt="">
                                </div>
                                <div><button class="btn btnDowuiki btnPosition">查看收藏</button></div>

                            </div>
                        </div>
                    </div>
                </div> -->
