<footer>
    <div class=" footer d-none d-lg-block">
        <div class="container">
            <span class="footer-text">Copyright © 2020 DoWuiKi All Rights Reserved.</span>
            <div class="footer-menu row">
                <span><i class="icon-footer-1 footerA"></i></span>
                <span><i class="icon-footer-2 footerA"></i></span>
                <span><i class="icon-footer-3 footerA"></i></span>
                <span><i class="icon-footer-4 footerA"></i></span>

            </div>
        </div>
    </div>
</footer>