<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="LOGO-w" src="/images/LOGO-w.svg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav mr-2">
                <li class="nav-item mx-3">
                    <a class="nav-link navText" href="/">Home</a>
                    <div class="spline2 w-100"></div>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link navText" href="/map">Map</a>
                    <div class="spline2 w-100"></div>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link navText" href="/articlePage/blogIndex">Blog</a>
                    <div class="spline2 w-100"></div>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link navText" href="#">About Us</a>
                    <div class="spline2 w-100"></div>
                </li>
            </ul>
            <ul class="navbar-nav ml-1 mt-1">
                <li class="nav-item mx-2">
                    <span class="d-block d-lg-none nav-link navText mx-1 ">Post Blog</span>
                    <div class="spline1 d-block d-lg-none mx-1 mr-1"></div>
                    <a class="d-none d-lg-block" href="/articlePage/apublishPage"><img class="article-w" src="/images/article-w.svg" alt=""></a>
                </li>
                <li class="nav-item mx-2">
                    <span class="d-block d-lg-none nav-link navText mx-1">User</span>
                    <div class="spline1 d-block d-lg-none mb-3 mx-1 mr-1"></div>
                    <a class="d-none d-lg-block" href="/member/memberPage"><img class="user-w" src="/images/user-w.svg" alt=""></a>
                </li>
            </ul>

        </div>
    </div>

</nav>
<br>
<br>
<script>
</script>