<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dowuiki</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
        </script>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- vue&jquery -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- jquery UI -->
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/article/simple-rating.js"></script>
    <!-- my-JS&CSS -->
    <script type="text/javascript" src="/javascripts/article/jqshow.js" defer></script>
    <script type="" src="/javascripts/article/blogIv.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/article/blog-i.css" defer>
    <!-- 引入icon圖示的CDN -->
    <link href="https://file.myfontastic.com/qkBCMrD45o6CZLseFZhWN8/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <script type="text/javascript">
        $(function () {
            $('#gallery-demo .gallery').pignoseGallery({
                list: $('#gallery-demo .gallery-thumbnails')
            });
        });

        //限制文字顯示數//
        window.onload = function () {
            $(".textJq").each(function (i) {
                var len = 45; // 超過以"..."取代
                if ($(this).text().length > len) {
                    $(this).attr("title", $(this).text());
                    var text = $(this).text().substring(0, len - 1) + "...";
                    $(this).text(text);
                }
            });
            $(".titleJq").each(function (i) {
                var len = 17; // 超過以"..."取代
                if ($(this).text().length > len) {
                    $(this).attr("title", $(this).text());
                    var text = $(this).text().substring(0, len - 1) + "...";
                    $(this).text(text);
                }
            });
        };
    </script>
    <link rel="stylesheet" href="/stylesheets/navbar.css">

</head>

<body>
    <!-- navbar -->
    <%- include('../navbar.ejs') %>
    <!-- 首頁轉跳輪播 -->
    <div>
        <div id="gallery-demo">
            <div class="gallery">
                <img src="/images/a0.jpg">
                <img src="/images/a1.jpg">
                <img src="/images/a2.jpg">
                <img src="/images/a3.jpg">
                <img src="/images/a4.jpg">
            </div>

            <div class="gallery-thumbnails container">
                <img class="point" src="/images/point.svg" alt="">
                <a href="#"><img src="/images/a0.jpg"></a>
                <a href="#"><img src="/images/a1.jpg"></a>
                <a href="#"><img src="/images/a2.jpg"></a>
                <a href="#"><img src="/images/a3.jpg"></a>
                <a href="#"><img src="/images/a4.jpg"></a>
            </div>
        </div>
        <div class="blogTop">
            <div class="container">
                <div class="row">
                    <div class="col-4 topSlogan">
                        <h1 class="font-weight-bold">Let's Go!</h1>
                        <p>在對的道路上迷失，是一件多美好的事情... <br> 我若不是在旅行，就一定是在規劃旅行的路上!
                        </p>
                        <div class="sloganIcon">
                            <img class="map-w" src="/images/map-w.svg"
                                alt=""><span>&ensp;&ensp;Dowuiki&ensp;/&ensp;兜位趣</span>
                        </div>
                        <div>
                            <img class="search-b" src="/images/search-b.svg" alt="">
                            <input class="form-control" type="text" name="" id="searchblog"
                                placeholder="Travel is my antidote.">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 國外TOP -->
    <div class="container float-none">
        <div class="row justify-content-md-center">
            <div class="col-md-auto clearfix foreignTitle1">
                <span class="align-middle foreignTop">玩．旅人</span>
                <span class="align-middle blogBtn ml-2">國外TOP<img class="top-w" src="/images/top-w.svg" alt=""></span>
                <p class="text-center">
                    來吧！跟著其他旅人的腳步，踏出的每一步都能留下美好的痕跡。 <br> 走在不同國度的街道，玩出屬於你的新味道。
                </p>
                <div class="spline col-lg-12 w-100 mb-2 mt-4"></div>
            </div>
        </div>
    </div>
    <!-- 文章Card部分 -->
    <div class="container float-none blogCard">
        <div id="cardTop1" class="row justify-content-center">
            <div class="col-6 mb-3">
                <a :href="urlFir" style="text-decoration:none;" target="_blank">
                    <div class="card clearfix">
                        <img v-bind:src="domesFir.img_path" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h3 class="mb-3 titleJq">{{domesFir.title}}</h3>
                            <p class="card-text textJq">{{domesFir.description}}</p>
                            <input type="text" v-bind:value="domesFir.avgscore" id="starInput1" hidden>
                            <div class="cardStar" id="cardStar1">
                                <span class="align-middle">{{domesFir.city_name}}</span>
                            </div>
                            <div class="splineR col-lg-12 w-100 mb-3"></div>
                            <div class="cardLocation">
                                <img class="location-r" src="/images/location-r.svg" alt="">
                                <span class="align-middle">{{domesFir.country}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 mb-3">
                <a :href="urlSec" style="text-decoration:none;" target="_blank">
                    <div class="card clearfix">
                        <img v-bind:src="domesSec.img_path" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h3 class="mb-3 titleJq">{{domesSec.title}}</h3>
                            <p class="card-text textJq">{{domesSec.description}}</p>
                            <input type="text" v-bind:value="domesSec.avgscore" id="starInput2" hidden>
                            <div class="cardStar" id="cardStar2">
                                <span class="align-middle">{{domesSec.city_name}}</span>
                            </div>
                            <div class="splineR col-lg-12 w-100 mb-3"></div>
                            <div class="cardLocation">
                                <img class="location-r" src="/images/location-r.svg" alt="">
                                <span class="align-middle">{{domesSec.country}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 mb-3">
                <a :href="urlThir" style="text-decoration:none;" target="_blank">
                    <div class="card clearfix">
                        <img v-bind:src="domesThir.img_path" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h3 class="mb-3 titleJq">{{domesThir.title}}</h3>
                            <p class="card-text textJq">{{domesThir.description}}</p>
                            <input type="text" v-bind:value="domesThir.avgscore" id="starInput3" hidden>
                            <div class="cardStar" id="cardStar3">
                                <span class="align-middle">{{domesThir.city_name}}</span>
                            </div>
                            <div class="splineR col-lg-12 w-100 mb-3"></div>
                            <div class="cardLocation">
                                <img class="location-r" src="/images/location-r.svg" alt="">
                                <span class="align-middle">{{domesThir.country}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 mb-3">
                <a :href="urlFour" style="text-decoration:none;" target="_blank">
                    <div class="card clearfix">
                        <img v-bind:src="domesFour.img_path" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h3 class="mb-3 titleJq">{{domesFour.title}}</h3>
                            <p class="card-text textJq">{{domesFour.description}}</p>
                            <input type="text" v-bind:value="domesFour.avgscore" id="starInput4" hidden>
                            <div class="cardStar" id="cardStar4">
                                <span class="align-middle">{{domesFour.city_name}}</span>
                            </div>
                            <div class="splineR col-lg-12 w-100 mb-3"></div>
                            <div class="cardLocation">
                                <img class="location-r" src="/images/location-r.svg" alt="">
                                <span class="align-middle">{{domesFour.country}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="align-middle btn moreBut text-center mt-2" @click="getforeign">閱讀更多</div>
        </div>


    </div>
    <!-- 廣告部分 上下padding-4(24px) 上margin-4(24px) -->
    <div class="adbg pt-4 pb-4 mt-4">
        <div class="container">
            <div class="adsec d-flex justify-content-center">
                <div class="col-6 d-flex justify-content-center">
                    <img id="adImg" class='img-fluid' src="/images/129.jpg" alt="">
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <img id="adImg" class='img-fluid' src="/images/129.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- 國內TOP -->
    <div class="container float-none">
        <div class="row justify-content-md-center">
            <div class="col-md-auto clearfix foreignTitle1">
                <span class="align-middle foreignTop">新．期待</span>
                <span class="align-middle blogBtn ml-2">國內TOP<img class="top-w" src="/images/top-w.svg" alt=""></span>
                <p class="text-center">
                    走吧！讓我們去重新追尋「美好記憶」，記憶裡無數動人的篇章。 <br> 也許會重新發現，即使是相同的到訪，也藏著不同的期待。
                </p>
                <div class="spline col-lg-12 w-100 mb-2 mt-4"></div>
            </div>
        </div>
    </div>
    <!-- 文章Card部分 -->
    <div class="container float-none blogCard">
        <div id="cardTop2" class="row justify-content-center">
            <div class="col-6 mb-3">
                <a :href="urlFir" style="text-decoration:none;" target="_blank">
                    <div class="card clearfix">
                        <img v-bind:src="domesFir.img_path" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h3 class="mb-3 titleJq">{{domesFir.title}}</h3>
                            <p class="card-text textJq">{{domesFir.description}}</p>
                            <input type="text" v-bind:value="domesFir.avgscore" id="starInput5" hidden>
                            <div class="cardStar" id="cardStar5">
                                <span class="align-middle">{{domesFir.city_name}}</span>
                            </div>
                            <div class="splineR col-lg-12 w-100 mb-3"></div>
                            <div class="cardLocation">
                                <img class="location-r" src="/images/location-r.svg" alt="">
                                <span class="align-middle">{{domesFir.country}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 mb-3">
                <a :href="urlSec" style="text-decoration:none;" target="_blank">
                    <div class="card clearfix">
                        <img v-bind:src="domesSec.img_path" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h3 class="mb-3 titleJq">{{domesSec.title}}</h3>
                            <p class="card-text textJq">{{domesSec.description}}</p>
                            <input type="text" v-bind:value="domesSec.avgscore" id="starInput6" hidden>
                            <div class="cardStar" id="cardStar6">
                                <span class="align-middle">{{domesSec.city_name}}</span>
                            </div>
                            <div class="splineR col-lg-12 w-100 mb-3"></div>
                            <div class="cardLocation">
                                <img class="location-r" src="/images/location-r.svg" alt="">
                                <span class="align-middle">{{domesSec.country}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 mb-3">
                <a :href="urlThir" style="text-decoration:none;" target="_blank">
                    <div class="card clearfix">
                        <img v-bind:src="domesThir.img_path" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h3 class="mb-3 titleJq">{{domesThir.title}}</h3>
                            <p class="card-text textJq">{{domesThir.description}}</p>
                            <input type="text" v-bind:value="domesThir.avgscore" id="starInput7" hidden>
                            <div class="cardStar" id="cardStar7">
                                <span class="align-middle">{{domesThir.city_name}}</span>
                            </div>
                            <div class="splineR col-lg-12 w-100 mb-3"></div>
                            <div class="cardLocation">
                                <img class="location-r" src="/images/location-r.svg" alt="">
                                <span class="align-middle">{{domesThir.country}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 mb-3">
                <a :href="urlFour" style="text-decoration:none;" target="_blank">
                    <div class="card clearfix">
                        <img v-bind:src="domesFour.img_path" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h3 class="mb-3 titleJq">{{domesFour.title}}</h3>
                            <p class="card-text textJq">{{domesFour.description}}</p>
                            <input type="text" v-bind:value="domesFour.avgscore" id="starInput8" hidden>
                            <div class="cardStar" id="cardStar8">
                                <span class="align-middle">{{domesFour.city_name}}</span>
                            </div>
                            <div class="splineR col-lg-12 w-100 mb-3"></div>
                            <div class="cardLocation">
                                <img class="location-r" src="/images/location-r.svg" alt="">
                                <span class="align-middle">{{domesFour.country}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="align-middle btn moreBut text-center mt-2" @click="getdomestic">閱讀更多</div>
        </div>
    </div>
    <div style="height: 30px;"></div>
    <!-- footer -->
    <%- include('../footer.ejs') %>
    <!-- footer -->
</body>

</html>